header{
	margin: 120px 0 135px 0;
	font-size: 0.875rem;
	font-family: 'Open Sans', sans-serif;
}

.header__top {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

header a {
  text-decoration: none;
}

.header__name {
  font-weight: 700;
  color: #000000;
}

.header__contact {
  color: #000000;
}