.Header{
	margin: 120px 0 135px 0;
	font-size: 0.875rem;
	font-family: 'Open Sans', sans-serif;
}

.Header__top {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.Header a {
  text-decoration: none;
}

.Header__name {
  font-weight: 700;
  color: #000000;
}

.Header__contact {
  color: #000000;
}

@media screen and (max-width : 595px) {
		
	.Header{
		padding: 120px 0 80px 0;
		font-size: 0.75rem;
		padding: 0;
		margin: 40px 0;
	}
	
	.Header__name{
		display: block;
		font-size: 2rem;
		margin: 0 0 10px 0;
	}

	.Header__contact{
		display: none;
		float: left;
		font-weight: 300;
	}
		
}